<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dreamilyeats">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".GlobalArray"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/dreamily_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RetrofitDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".About_profile_activity" />
        <activity android:name=".Cash_Payment_setting" />
        <activity android:name=".Explore_Next_Restaurants" />
        <activity android:name=".Edit_Profile_setting" />
        <activity android:name=".Promotion_Setting" />
        <activity android:name=".Help_Setting" />
        <activity android:name=".Payments_Setting" />
        <activity android:name=".Your_Favourites" />
        <activity android:name=".ForgetAndChangePasswordActivity" /> <!-- <activity android:name=".Register_first" /> -->
        <activity android:name=".Your_Cart" />
        <activity android:name=".Home_Filter_Custom_Window" />
        <activity android:name=".After_select_menu" />
        <activity android:name=".EditProfile" />
        <activity android:name=".Next_MoreRestaurant" />
        <activity android:name=".Settings_Activity" />
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".HomePage" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCy78CGe_ZODVevdCca-rdyNFTUlaMLG10" />

        <receiver android:name=".NetworkConnectivity.NetworkConnectionCheck" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="andoid.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>